<h2>Import</h2>

<%= form_for @conn, class_path(@conn, :import_create, @class), [as: :csv, multipart: true],  fn f -> %>

  <div class="form-group">
    <%= file_input f, :file, class: "form-control" %> 
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link "Back", to: class_path(@conn, :show, @class) %>